<header class="container">
    <div class="main">
      <div class="col-xl-4">
        <div class="logo">
          <h1>Arsha</h1>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="nav">
          <div class="menu_main">
            <span onclick="myfun()">&#9776;</span>
            <ul id="menu">
              <li class="active"><a routerLink="/">HOME</a></li>
              <li><a routerLink="/aboutpage">ABOUT US</a></li>
              <li><a routerLink="/contactpage">CONTACT US </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- top header end -->