<!-- footer start -->
<footer>
    <div class="container">
      <div class="col-xl-3 col-md-4 col-sm-6 col-11 top_footer">
        <div class="touch">
          <h4>Get in touch with us</h4>
        </div>
        <div class="company">
          
        </div>
        <div class="addrs">
          <h5>Arsha company Inc</h5>
          <p>Moderem Building suit v123,</p>
          <p>AB 01</p>
          <p>Someplace 1243 Earth</p>
        </div>
        <div class="call">
          <p>(123)456-7654-(123)</p>
          <p>555-7891</p>
          <p>email@domainname.com</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6 col-11 top_footer">
        <div class="touch">
          <h4>Pages</h4>
        </div>
        <div class="addrs">
          <p>Press release</p>
          <p>Terms and condition</p>
          <p>Privacy Policy</p>
          <p>Career center</p>
          <p>Contact Us</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-11 col-11 top_footer">
        <div class="touch">
          <h4>Latest post</h4>
        </div>
        <div class="addrs">
          <p>Lorem ipsum dolor sit amet,</p>
          <p>consectetur adipisicing elit.</p>
          <p>Career center</p>
          <p>Contact Us</p>
          <p>consectetur adipisicing elit.</p>
          <p>consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-11 col-sm-11 col-11 top_footer">
        <div class="touch">
          <h4>Flickr phototream</h4>
        </div>
        <div class="photo">
          <div class="col-xl-4 col-md-4 col-sm-4 col-4">
            <div class="inner_photo">
              <img src="/assets/images/aa.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-xl-4  col-md-4 col-sm-4 col-4">
            <div class="inner_photo">
              <img src="/assets/images/bb.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-xl-4  col-md-4 col-sm-4 col-4">
            <div class="inner_photo">
              <img src="/assets/images/cc.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-xl-4  col-md-4 col-sm-4 col-4">
            <div class="inner_photo">
              <img src="/assets/images/dd.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-xl-4  col-md-4 col-sm-4 col-4">
            <div class="inner_photo">
              <img src="/assets/images/ee.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-xl-4  col-md-4 col-sm-4 col-4">
            <div class="inner_photo">
              <img src="/assets/images/ff.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-xl-4  col-md-4 col-sm-4 col-4">
            <div class="inner_photo">
              <img src="/assets/images/gg.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-xl-4  col-md-4 col-sm-4 col-4">
            <div class="inner_photo">
              <img src="/assets/images/hh.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="fix"></div>
      <hr class="border">
      <div class="col-xl-6 col-md-11 col-11 follow">
        <div class="copy">
          <p>@Arsha2020 All right reserved By bootstarptaste</p>
        </div>
      </div>
      <div class="col-xl-6 col-md-11 col-11">
        <div class="social_icon follow">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-desktop"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->