  <!-- our services start -->
  <section class="service">
    <div class="container">
      <div class=" our_services">
        <div class="col-xl-4 col-lg-4 text-center">
          <div class="inner_content">
            <img src="/assets/images/L1.png" class="" alt="">
            <div class="inner_heading">
              <h3 class="semi_bold">BENIFITS</h3>
              <div class="inner_para">
                <p>To know what we offer please check for more information.</p>
              </div>
              <div class="btn2">
                <button> KNOW MORE</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 text-center">
          <div class="inner_content">
            <img src="/assets/images/L2.png" class="" alt="">
            <div class="inner_heading">
              <h3 class="semi_bold">OUR SERVICES</h3>
              <div class="inner_para">
                <p>Number of service we offer for your every need.</p>
              </div>
              <div class="btn2">
                <button> KNOW MORE</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 text-center">
          <div class="inner_content">
            <img src="/assets/images/L3.png" class="" alt="">
            <div class="inner_heading">
              <h3 class="semi_bold">CONTACT</h3>
              <div class="inner_para">
                <p>Any questions please get in touch with us at any time.</p>
              </div>
              <div class="btn2">
                <button> KNOW MORE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- our services end -->