 <!-- aboutus start -->
 <section class="about_us">
    <div class="container">
      <div class="col-xl-6 abt">
        <div class="img">
          <img src="/assets/images/5.jpg" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-xl-6 abt">
        <div class="abt_txt">
          <div class="abt_main">
            <h3 class="text-center">Volupetetem accusantiam doloremque</h3>
          </div>
          <div class="para1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dolor et esse quisquam nihil saepe, possimus consectetur, ipsa porro nisi praesentium voluptas nulla dicta, omnis id error accusantium consequuntur illo?</p>
          </div>
          <div class="para2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dolor et esse quisquam nihil saepe, possimus consectetur, ipsa porro nisi praesentium voluptas nulla dicta, omnis id error accusantium consequuntur illo?</p>
          </div>
          <div class="learn text-center">
            <a href="#">Learn more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- aboutus end -->