<!-- out team start -->
<section class="team">
    <div class="container">
      <div class="recent our_team">
        <h3>Our Team</h3>
      </div>
      <div class="col-xl-4 text-center">
        <div class="row2">
          <div class="inner_content">
            <h4>Fully responsive</h4>
          </div>
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <div class="team_img">
            <img src="/assets/images/3.jpg" class="" alt="">
          </div>
          <div class="inner_para">
            <p>Voluptatem accusatium doloremque laudantium sprea totam rem aperiam</p>
          </div>
          <div class="learn">
            <a href="#">Learn more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 text-center">
        <div class="row2">
          <div class="inner_content">
            <h4>Fully responsive</h4>
          </div>
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <div class="team_img">
            <img src="/assets/images/13.jpg" class="" alt="">
          </div>
          <div class="inner_para">
            <p>Voluptatem accusatium doloremque laudantium sprea totam rem aperiam</p>
          </div>
          <div class="learn">
            <a href="#">Learn more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 text-center">
        <div class="row2">
          <div class="inner_content">
            <h4>Fully responsive</h4>
          </div>
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <div class="team_img">
            <img src="/assets/images/12.jpg" class="" alt="">
          </div>
          <div class="inner_para">
            <p>Voluptatem accusatium doloremque laudantium sprea totam rem aperiam</p>
          </div>
          <div class="learn">
            <a href="#">Learn more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="fix"></div>
    </div>
  </section>
  <!-- out team end -->